#ensaladas .card-reveal {background-color: rgba(128, 203, 196, 0.72);
						color:white;
}
#principales .card-reveal {background-color: rgba(255, 204, 128, 0.72);
						color:white;
}
#postres .card-reveal {background-color: rgba(255, 241, 118, 0.72);
						color:grey;
}

.page-footer .container p {margin-bottom: 4px; margin-top: 4px}

.fa-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

li a {
    display: block;
}

.fa-ul li a {
    display: block;
    width: 60px;
}

.btn-floating li {
	text-align: center;
}
.card-title {
	margin-top:5px important! ;
}