body {
	background-color: #f3e5f5;
}

#ensaladas .card-reveal {background-color: rgb(128, 203, 196);
						color:white;
}
#principales .card-reveal {background-color: rgba(255, 204, 128, 0.72);
						color:white;
}
#postres .card-reveal {background-color: rgba(255, 241, 118, 0.72);
						color:grey;
}

.page-footer .container p {margin-bottom: 4px; margin-top: 4px}

.btn-floating {
	text-align:center;display:block;
}

.fixed-action-btn {
	text-align:center;display:block;
}

.actions li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  font-size: 1.2em;
}
